# ==========
# MODEL CARD
# ==========
# - Name of the model (string)

MODEL <model name>


# ==========
# NODE CARD
# ==========
# - Node Name (double)
# - Node X Coordinate (double)
# - Node Y Coordinate (double)
# - Node Z Coordinate (double)

NODE 0 0.0 0.0 0.0
NODE 1 0.0 0.0 -20.0


# ==========
# JOINT CARD
# ==========
# - Joint Name (string)
# - Joint Node (double)
# - Joint Inlet Name (string)
# - Joint Outlet Name (string)
# ================================
# JOINTINLET AND JOINTOUTLET CARDS
# ================================
# - Inlet/Outlet Name (string)
# - Total Number of segments (int)
# - List of segments (list of int)

JOINT JOINT1 1 INSEGS OUTSEGS
JOINTINLET INSEGS 1 0
JOINTOUTLET OUTSEGS 2 1 2


# ============
# SEGMENT CARD
# ============
# - Segment Name (string)
# - Segment ID (int)
# - Segment Length (double)
# - Total Finite Elements in Segment (int)
# - Segment Inlet Node (int)
# - Segment Outlet Node (int)
# - Segment Inlet Area (double)
# - Segment Outlet Area (double)
# - Segment Inflow Value (double)
# - Segment Material (string)
# - Type of Loss (string - 'NONE')
# - Branch Angle (double - default=0.0)
# - Upstream Segment ID (int)
# - Branch Segment ID (int)
# - Boundary Condition Type (string - 'NOBOUND','PRESSURE','AREA','RESISTANCE','RCR','CORONARY')
# - Data Table Name (string)

SEGMENT ARTERY 0 20.0 50 0 1 <params,0> <params,0> 14.0 MAT1 NONE 0.0 0 0 RESISTANCE R_DATA


# ==============
# DATATABLE CARD
# ==============
# - Data Table Name (string)
# - Data Table Type (string - 'LIST'
#   - LIST OPTION - List of times and Values (e.g., 'time0 value0 time1 value1 ...' list of alternating times and values)
#   - RESISTANCE LIST OPTION - List of resistance and optional distal pressure (defaults to 0 distal pressure)
#	0.0 200.0  #steady resistance
#	0.0 1000.0 #steady distal pressure (dyn/cm2)
#   - RCR LIST OPTION - List of Rp, C, Rd values and optional distal pressure (defaults to 0 distal pressure)
#	0.0 681.23	#steady proximal resistance, Rp (dyn*s*cm^-5)
#	0.0 3.6664e-5	#steady capacitance, C (cm^5*dyn^-1)
#	0.0 310.13	#steady distal resistance, Rd (dyn*s*cm^-5)
# - ENDDATATABLE - Keyword for termination of table data

DATATABLE R_DATA LIST
0.0 200.0
0.0 1000.0
ENDDATATABLE


 =============
# MATERIAL CARD
# =============
# - Material Name (string)
# - Material Type (string - 'LINEAR','OLUFSEN')
# - Material Density (double)
# - Material Viscosity (double)
# - Referemce Pressure (double, CGS units)
# - Material Exponent (double)
# - Material Parameter 1 (double)
# - Material Parameter 2 (double, unused for LINEAR type)
# - Material Parameter 3 (double, unused for LINEAR type)

# Ref Pressure 1333.22*85 where 85 is in mmHg
MATERIAL MAT1 OLUFSEN 1.06 0.04 113324.0 1.0 2.0e7 -22.5267 8.65e5


# ==================
# SOLVEROPTIONS CARD
# ==================
# - Solver Time Step (double), 
# - Steps Between Saves (int), 
# - Max Number of Save Steps (int)
# - Number of quadrature points for finite elements (int), 
# - Name of Datatable for inlet conditions (string)
# - Type of boundary condition (string - 'NOBOUND', 'PRESSURE', 'FLOW', 'CORONARY')
# - Convergence tolerance (double), 
# - Formulation Type (int - 0 Advective, 1 Conservative), 
# - Stabilization (int - 0 No stabilization, 1 With stabilization)

SOLVEROPTIONS 0.01 10 1000 2 INLETDATA FLOW 1.0e-6 1 1 

# ===========
# OUTPUT CARD
# ===========
# - Output type (string - 'TEXT', 'VTK')

OUTPUT TEXT

